.cocktail-card {
  display: flex;
  align-items: center;
  border-radius: 10px;
  background-color: var(--color3);
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.15);
  margin: 25px 0;
  flex-wrap: wrap;
}

.cocktail-card .image {
  flex: 0 0 300px;
  width: 100%;
  max-width: 300px;
  max-height: 300px;
  height: auto;
}

.cocktail-card .image img {
  border-radius: 10px 40px 0 10px;
  width: 100%;
  height: auto;
}

.content {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 20px 0 20px;
  padding: 30px 0;
  height: 300px;
  position: relative;
}

.content h3 {
  color: var(--color4);
  font-size: 2rem;
}

.content p {
  color: var(--color5);
  font-size: 1rem;
  margin-right: 15px;
  display: -webkit-box;
  line-clamp: 5;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.content .button-group {
display: flex;
justify-content: end;
}


.cocktail-details .ingredient-thumbnail {
  width: 80px;
  height: 80px;
}
