.cocktail-card {
  display: flex;
  align-items: center;
  border-radius: 10px;
  background-color: var(--color3);
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.15);
  margin: 25px 0;
  flex-wrap: wrap;
}

.cocktail-card .image {
  flex: 0 0 300px;
  width: 100%;
  max-width: 300px;
  max-height: 300px;
  height: auto;
}

.cocktail-card .image img {
  border-radius: 10px 40px 0 10px;
  width: 100%;
  height: auto;
}

.content {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 20px 0 20px;
  padding: 30px 0;
  height: 300px;
  position: relative;
}

.content p {
  color: var(--color5);
  font-size: 1rem;
  margin-right: 15px;
  display: -webkit-box;
  line-clamp: 5;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.content .button-group {
  display: flex;
  justify-content: end;
}

.cocktail-details {
  background-color: var(--color8);
}

.category-block {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.category {
  background-color: #a3d8f4;
  width: 150px;
  padding: 3px 0;
  margin: 0 10px;
  border-radius: 15px;
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.2);
}

.glass {
  background-color: #ffc8a2;
  width: 150px;
  padding: 3px 0;
  margin: 0 10px;
  border-radius: 15px;
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.2);
}

.alcoholic {
  background-color: #a8d5ba;
  width: 150px;
  padding: 3px 0;
  margin: 0 10px;
  border-radius: 15px;
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.2);
}

.details-content {
  display: flex;
  height: 100%;
}

.details-content .details-left {
  display: flex;
  flex-direction: column;
  width: 40%;
}

.details-ingredients ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: start;
}

.ingredients {
  display: flex;
  align-items: center;
}

.details-ingredients ul img {
  width: 60px;
  height: 60px;
  margin: 0 10px 5px 0;
}

.details-ingredients ul p {
  display: flex;
  font-size: 0.9rem;
}

.details-ingredients ul .item {
  font-size: 1.25rem;
}

.details-line {
  background-color: black;
  width: 1px;
  margin: 30px 0;
}

.details-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 60%;
}

.details-right .image {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.details-right .image img {
  max-width: 100%;
  max-height: 100%;
  border-radius: 50%;
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.2);
}

.details-instructions p {
  font-size: 1.2rem;
  padding: 20px 30px;
}

@media only screen and (max-width: 479px) {
  
  .cocktail-card {
    margin: 15px 0;
  }

  .cocktail-card .image {
    flex: 0 0 170px;
    height: 170px;
  }

  .content {
    margin-left: 6px;
    padding: 10px 0;
    height: 170px;
  }

  .content p {
    color: var(--color5);
    font-size: 0.8rem;
    line-height: 0.8rem;
    margin-right: -10px;
    line-clamp: 4;
    -webkit-line-clamp: 4;
  }
  
  .category-block {
    margin-bottom: 15px;
  }

  .category-block p {
    font-size: 0.9rem;
  }
  
  .category {
    width: 150px;
    padding: 3px 0;
    margin: 0 5px;
  }
  
  .glass {
    width: 150px;
    padding: 3px 0;
    margin: 0 5px;
  }
  
  .alcoholic {
    width: 150px;
    padding: 3px 0;
    margin: 0 5px;

  }
  
  .details-content .details-left {
    display: flex;
    flex-direction: column;
    width: 40%;
  }
  
  .details-ingredients ul img {
    width: 30px;
    height: 30px;
    margin: 0 5px 3px 0;
  }
  
  .details-ingredients ul p {
    display: flex;
    font-size: 0.7rem;
    line-height: 0.7rem;
  }
  
  .details-ingredients ul .item {
    font-size: 0.8rem;
  }
  
  .details-line {
    background-color: black;
    width: 1px;
    margin: 15px 0;
  }
  
  .details-right {
    width: 60%;
  }

  .details-right .image img {
    max-width: 90%;
    max-height: 90%;
  }
  
  .details-instructions p {
    font-size: 0.8rem;
    line-height: 0.8rem;
    padding: 10px 10px;
  }
}
