* {
  --color1: #fa7373;
  --color2: #a2a6b0;
  --color3: #fff;
  --color4: #353740;
  --color5: #4c4e57;
  --color6: #5dade2;
  --color7: rgb(250, 115, 115, 0.2);
  --color8: #fff;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Roboto, sans-serif;
}

.button {
  height: 35px;
  width: 100%;
  max-width: 200px;
  font-size: 1rem;
  font-weight: 600;
  color: var(--color3);
  border: none;
  border-radius: 15px;
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.button:hover {
  transform: scale(1.05);
  transition: ease-in-out 0.2s;
  box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.2);
}

.primary-button {
  background-color: var(--color1);
  margin-right: 15px;
}

.secondary-button {
  background-color: var(--color2);
  margin-right: 15px;
  /*    color: var(--color1);
    border: 3px, solid, var(--color1);
    */
}

hr {
  color: var(--color2);
  margin: 20px 0;
}

h3 {
  color: var(--color4);
  font-size: 1.2rem;
  text-transform: uppercase;
}

h2 {
  color: var(--color4);
  font-size: 2rem;
}

@media only screen and (max-width: 479px) {
  .button {
    height: 20px;
    width: 60px;
    max-width: 80px;
    font-size: 0.5rem;
  }
  
  .primary-button {
    background-color: var(--color1);
    margin-right: 2px;
  }
  
  .secondary-button {
    background-color: var(--color2);
    margin-right: 5px;
    /*    color: var(--color1);
      border: 3px, solid, var(--color1);
      */
  }
  
  hr {
    color: var(--color2);
    margin: 15px 0;
  }
  
  h3 {
    font-size: 1rem;
  }
  
  h2 {
    font-size: 1.5rem;
  }
}
